@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Poppins", serif;
  background-color: #F7F7F7;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

/* .main-page{
  padding-top: 50px;
} */
 

.brush-text{
  font-family: "Alex Brush", serif;
}


.oswald-text{
  font-family: "Oswald", serif;
}


/* utils */
.flex_col_center{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.center_position{
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

/* nav */
nav{
  width: 100%;
  position: sticky;
  top: 0;  
  background-color: white;
  z-index: 999;
  padding: 1rem 0;

  display: flex;
  justify-content: center;
}

nav::before{
  content: "";
  bottom: -30px;
  width: 100%;
  height: 30px;
  position: absolute;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 4.35%, #FFFFFF 100%); 
}

.accessibility .share-btn{
  background-color: rgb(255, 255, 255);
  padding: 0.35rem .45rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  border: 2px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.accessibility .login-btn-nav{
  background-color: black;
  padding: 0.55rem .65rem;
  font-weight: 600;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


/* content */
.bg-map{
  bottom: 0px;
}

.map-icon{
  right: 10px;
  top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
}

.details-container{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.content_container{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  gap: 1rem;
  margin-top: -1rem;
  z-index: 99;
}

.content-box{
  background-color: white;
  border: 1px solid #E8E9E9;
  width: 100%;
  padding: .85rem ;
  color: #7D7F82;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.title-content{
  color: black;
}

.data{
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.data p:nth-child(2){
  color: black;
  font-size: 19px;
}

.data a{
  color: #408BD2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}
 

.data .broker-link{
  background-color: #dfefff;
  padding: .2rem .5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.factoring{
  background-color: #FFE6E9;
  padding: .2rem .5rem;
  border-radius: 5px;
  color: red;
}

.line{
  width: 100%;
  height: 1px;
  background-color: #c7c7c7;
}

.login-btn{
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

 

/* path */
.path{
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: .25rem;
}

.path div{
  background-color: black;
}

.path .start-point,
.path .end-point{
  width: 28px;
  height: auto;
  aspect-ratio: 1/1;
}

.line-path{
  height: 260px;
  width: 2px;
}

.about-path h4{
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.about-path .title{
  display: flex; 
  align-items: center;
  flex-direction: row;
}

.path-container .point,
.point div{
  display: flex;
  flex-direction: column;
  gap: .7rem;
}
 

.point h5{
  color: black;
}



/* map */
.custom-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  border: 2px solid white;
  text-align: center;
}


/* login container */
.left-login-form{
  width: 60%;
}

.choose-account-btn{
  width: 400px;
  height: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 2px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#apple-account i{
  font-size: 30px;
}

#email-account i{
  font-size: 20px;
}

input,
label{
  width: 100%;
}

input{
  height: 50px;
}

.tick.active{
  background-color: black;
}

.bg_blur{
  background: #D4B64E; 
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  width: 200px;
  height: 200px;
  opacity: .5;
}


/* bar mobile btn */ 
.bar-mobile-btn{
  height: 60px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.bar-mobile-btn.btn1{
  width: 14%;
}

.bar-mobile-btn.btn2{
  width: 39%;
  background-color: black;
  color: white;
}

/* added */
.mobile-box{
  display: none;
}

.time{
  display: flex;
}

/* media queries */
@media screen and (max-width:1100px) {
  .left-login-form{
    width: 100%;
  }

  .right-image{
    display: none;
  }

  .accessibility .share-btn{
    border:none;
    background-color: transparent;
  }

  .accessibility .share-btn img {
    filter: brightness(0) invert(1);
  }
  
  
  nav{ 
    background-color: black; 
    padding: .3rem 0;
  }
  
  nav::before{ 
    display: none;
  }



}

@media screen and (max-width:768px) {
  .choose-account-btn{
    width: 90%;
  }

  .details-desktop{
    display: none;
  }
}



@media screen and (max-width:500px) {
  .hidden-element-in-mobile,
  .hidden-box-in-mobile{
    display: none;
  }

  .price-container{
    display: flex; 
    background-color: white;
  }

  .price-container .content-box{
    background-color: transparent !important;
    border: none;
  }

  .mobile-box{
    display: flex;
    width: 45%;
    gap: 1px;
  }

  .path{
    gap: 0;
  }

  .path-map{
    width: 55%;
  }

  .path-container .point,
  .point div{ 
    gap: .2rem;
  }

  .path-information{
    width: 90%;
  }



  .notes,
  .address,
  .live{
    display: none !important;
  }

  .about-path h4{ 
    font-size: 12px; 
  }

  .path .start-point,
  .path .end-point{
    width: 8px; 
  }

  .line-path{
    height: 42px; 
  }

  .address h5{
    font-size: 10px;
  }

  /* details-mobile */
  .details-mobile .container-data{
    display: flex;
    width: 100%; 
  }

  .details-mobile .container-data-inner{
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    width: 50%;
  }

  .details-mobile .data{
    flex-direction: column;
    align-items: start;
    width: 100%;     
  }

  .details-mobile .data p{
    font-size: 14px;
  }

  .details-mobile .data p:nth-child(2){
    font-weight: 600;
  }
} 
